$base-color= #353944;
$hover-color= #3c92eb;
$hoverbg-color= #20242d;
$main-color= #409eff;
$navbgcolor= #04143a;
$sidebgcolor= #020b21;
$userinfobgcolor= #ecf5ff;
$contentbgcolor= #f5f7fa;
$bordercolor= #dcdfe6;
$customnavcolor= #04143a;
$btnbgcolor= #f5f7fa;
$iconbgcolor= #e6e9f2;
$elmenuisactive= #409eff;
$labecolor = #699f00;
$labelbgcolor = #f25721;
$btncolor = #409eff;
$groupborder = #ccd6e0;
$groupbgcolor = #f8f9fb;
$gropmebercolor = #E18800;
$wechatbordercolor = #e7e7eb;
$wechattagcolor = #e3e5e9;
$wechatbgcolor = #f5f6f9;
$tagcolor = #f5f6f9;
